<div class="login-page">
    <div class="login-container">
        <h2>User Login</h2>
        <form>
            <input type="text" name="tittle" placeholder="Tittle" [(ngModel)]="addobj.title" required />
            <input type="text" name="author" placeholder="Author" [(ngModel)]="addobj.author" required />
            <input type="text" name="language" placeholder="Language" [(ngModel)]="addobj.language" required />
            <input type="text" name="category" placeholder="Category" [(ngModel)]="addobj.category" required />
            <input type="number" name="quantity" placeholder="Quantity" [(ngModel)]="addobj.quantity" required />
            <button type="submit" (click)="addbook()">Add</button>
        </form>
    </div>
</div>
    
