<div class="login-page">
    <div class="login-container">
        <h2>User Login</h2>
        <form>
            <input type="text" name="tittle" [(ngModel)]="" placeholder="Tittle" required />
            <input type="author" name="password" [(ngModel)]="" placeholder="Author" required />
            <input type="author" name="language" [(ngModel)]="" placeholder="Language" required />
            <input type="author" name="category" [(ngModel)]="" placeholder="Category" required />
            <input type="author" name="Quantity" [(ngModel)]="" placeholder="Quantity" required />
            <button type="submit" (click)="addBook()">Add</button>
        </form>
       
        </p>
    </div>
</div>
    
