<div class="login-page">
    <div class="login-container">
        <h2>Add Book</h2>
        <form (click)="addbook()">
            <div>
                <label>Title </label>
                <input name="tittle" [(ngModel)]="addobj.title" required />
            </div>
            <div>
                <label>Author </label>
                <input name="author" [(ngModel)]="addobj.author" required />
            </div>
            <div>
                <label>Language </label>
                <input name="language" [(ngModel)]="addobj.language" required />
            </div>
            <div>
                <label>Category </label>
                <input name="category" [(ngModel)]="addobj.category" required />
            </div>
            <div>
                <label>Quantity </label>
                <input name="quantity" [(ngModel)]="addobj.quantity" required /><br>
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
</div>
    
