<div>
    <h2>User Profile</h2>
</div>
    <div class="user-profile">
        <form (ngSubmit)="updateUserDetails()">
        <label for="name">Name:</label>
        <input [(ngModel)]="user.name" id="name" name="name" required />
    
        <label for="email">Email:</label>
        <input [(ngModel)]="user.email" id="email" name="email" required type="email" />
    
        <label for="password">Password:</label>
        <input [(ngModel)]="user.password" id="password" name="password" required type="password" />
    
        <button type="submit">Update Details</button>
        </form>
    </div>
    