<!-- about.component.html -->
    <div class="about-page">
        <!-- About Header -->
        <header class="about-header">
        <h1>About Our Library</h1>
        </header>
    
        <!-- About Content -->
        <section class="about-content">
        <div class="about-text">
            <h2>Our Mission</h2>
            <p>
            The Library Management System is designed to make reading and learning accessible to everyone. We strive to create a vast collection of books covering a wide range of subjects, available to users at the click of a button.
            </p>
            <h2>What We Offer</h2>
            <p>
            Our library offers a rich catalog of books, e-books, and journals. We provide an easy-to-use platform where users can borrow books, search by title, author, or language, and manage their account details seamlessly.
            </p>
            <h2>Our History</h2>
            <p>
            Established in 2024, our library has grown from a small local book collection to an extensive online repository serving thousands of readers. We pride ourselves on delivering knowledge and joy to readers worldwide.
            </p>
        </div>
    
        <!-- Library Image -->
        <div class="about-image">
            <img src="/src/assets/pexels-gesel-757855.jpg" alt="Library Image" />
        </div>
        </section>
    </div>
    