<div class="registration-page">
    <div class="registration-container">
        <h2>User Registration</h2>
        <form>
            <input type="text" placeholder="User Name" required />
            <input type="email" placeholder="Email" required />
            <input type="password" placeholder="Password" required />
            <input type="password" placeholder="ConfirmPassword" required/>
            <button type="submit">Register</button>
        </form>
        <p class="switch-page">
            Already have an account? <a routerLink="/login/user-login">Login</a>
        </p>
    </div>
</div>
    