<div>
    <input type="text" [(ngModel)]="bookname" placeholder="Search for books">
    <button (click)="onSearch()">Search</button>
</div>

<div *ngIf="books.length > 0">
    <ul>
        <li>
            @for (books of books; track books) {
                <h3>{{books.title}}</h3>
                Book Id : {{books.id}}<br>
                Author  : {{books.author}}<br>
                Language : {{books.language}}<br>
                Category : {{books.category}}<br>
                Quantity :{{books.quantity}}
                <br>
                <button type="submit" (click)="deleteBook(books.id)">Delete</button>
            }
        </li>
    </ul>
</div>
