/* Search Section */
.search-container {
    background-color: #f9f9f9;
    padding: 60px;
    width: 100%;
    text-align: center;
}

.search-section h2 {
    font-size: 2.5rem;
    color: #0A1828;
    margin-bottom: 40px;
}

.search-section form {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.search-section input {
    padding: 15px;
    width: 250px;
    border: 2px solid #BFA181; 
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #0A1828; 
}

.search-section input::placeholder {
    color: #BFA181; 
}

.search-section button {
    padding: 15px 30px;
    background-color: #178582; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #145c63;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .navbar nav ul {
    flex-direction: column;
    gap: 10px;
}

.search-section form {
    flex-direction: column;
    gap: 10px;
}

.search-section input {
    width: 100%;
}

.search-section button {
    width: 100%;
}
}