    <div>
        <h2>Search Books</h2>
        <form (click)="search()">
        <div>
            <label>Author </label>
            <input [(ngModel)]="author" name="author" required/>
        </div>
        <div>
            <label>Language </label>
            <input [(ngModel)]="language" name="language" required />
        </div>
        <div>
            <label>Title </label>
            <input [(ngModel)]="title" name="title" required />
        </div>
        <button type="submit">Search</button>
        </form>
    </div>
    
    <div *ngIf="books.length > 0">
        <h3 >Search Results</h3>
        <ul>
        <li *ngFor="let book of books">
            {{ book.title }} by {{ book.author }} ({{ book.language }})
        </li>
        </ul>
    </div>
    