    <div>
        <h2 class="colors">Search Books</h2>
        <form (submit)="search()">            

        <div>
            <label>Author </label>
            <input [(ngModel)]="author" name="author" required/>
        </div>
        <div>
            <label>Language </label>
            <input [(ngModel)]="language" name="language" required />
        </div>
        <div>
            <label>Title </label>
            <input [(ngModel)]="title" name="title" required />
        </div>
        <button type="submit">Search</button>
        </form>
    </div>
    <div *ngIf="books.length > 0">
        <h3>Search Results</h3>
        <table>
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.language }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    