 /* CSS for the search form */
    form {
        display:table;
        margin: 20px 35% 20px 35%;
        padding: 30px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        
    }
    
    form div {
        margin-bottom: 15px;
        
    }
    
    label {
        display: inline-block;
        width: 100px;
        font-weight: bold;
    }
    
    input {
        padding: 8px;
        width: 250px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    button {
        padding: 10px 15px;
        background-color: #178582;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }
    
    button:hover {
        background-color: #145c63;
    }
    
    /* CSS for the search results */
    h3 {
        
        margin-top: 30px;
    }
    h2{
        text-align: center;
        text-shadow: #ccc;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        padding: 10px;
        margin: 10px 0;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    li:hover {
        background-color: #e9ecef;
    }
    
