 /* CSS for the search form */
    form {
        display:table;
        margin: 20px 35% 20px 35%;
        padding: 30px;
        background-color: #f4f3f3ed;
        border: 1px solid #ddd;
        border-radius: 5px;
        
    }
    
    form div {
        margin-bottom: 15px;
        
    }
    
    label {
        display: inline-block;
        width: 100px;
        font-weight: bold;
    }
    
    input {
        padding: 8px;
        width: 250px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    button {
        padding: 10px 15px;
        background-color: #178582;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }
    
    button:hover {
        background-color: #145c63;
    }
    
    /* CSS for the search results */
    h3 {
        
        margin-top: 30px;
        text-align: center;
    }
    h2{

        text-align: center;
        color:#32928e;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        padding: 10px;
        margin: 10px 0;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    li:hover {
        background-color: #e9ecef;
    }
    

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 20px; /* Increased padding */
        text-align: left;
        border: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    td {
        background-color: #f9f9f9;
    }
    
    /* Actions button styling */
    td button {
        background-color: #145c63;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    td button:hover {
        background-color: #178582;
    }
    
    /* Media query for responsiveness */
    @media (max-width: 600px) {
        table {
            width: 100%;
            font-size: 14px;
        }
    
        th, td {
            padding: 15px; /* Adjusted padding for smaller screens */
        }
    }